<a href="{{#if href}}{{href}}{{/if}}" target="{{#if target}}{{target}}{{else}}_blank{{/if}}" aria-label="{{#if aria}}{{aria}}{{/if}}" rel="noopener noreferrer" class="inline-flex justify-center items-center aspect-square whitespace-nowrap rounded-full p-2 text-sm font-medium tracking-wide transition hover:opacity-75 
text-center focus-visible:outline-2 focus-visible:outline-offset-2  active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed {{#if class}}{{class}}{{/if}}">
    {{!-- This is where your icons and text will be injected --}}
    {{> @partial-block}}
</a>
