<a href="{{url}}">
    <div
        class="group group flex cursor-pointer flex-col overflow-hidden rounded-2xl bg-white transition-all duration-300 dark:bg-slate-800/30"
    >
        {{#if feature_image}}

        <div class="mb-4 h-80 overflow-hidden rounded-sm">
            <img
                class="h-80 w-full object-cover transition-transform duration-500 group-hover:scale-150"
                srcset="{{img_url feature_image size='s' format='webp'}} 320w,
                        {{img_url feature_image size='m' format='webp'}} 600w,
                        {{img_url feature_image size='l' format='webp'}} 960w,
                        {{img_url feature_image size='xl' format='webp'}} 1200w"
                sizes="(min-width:1024px) 33vw, (min-width:768px) 50vw, 100vw"
                src="{{img_url feature_image size='l' format='webp'}}"
                alt="{{title}}"
                loading="lazy"
                decoding="async"
            />
        </div>
        {{/if}}

        <div class="flex flex-col gap-3 p-5">
            <div class="mb-2 flex flex-row items-center justify-between">
                <time
                    class="text-xs text-slate-400"
                    datetime="{{date format='YYYY-MM-DD'}}"
                >
                    {{date format='DD MMMM YYYY'}}
                </time>
                {{#if primary_tag}}
                <span class="text-xs text-slate-400">
                    # {{primary_tag.name}}
                </span>
                {{/if}}
            </div>

            <h2
                class="group-hover:text-primary mb-2 text-lg leading-snug font-bold text-gray-900 transition-colors dark:text-white"
            >
                {{title}}
            </h2>
            <p class="line-clamp-3 text-sm text-slate-600 dark:text-slate-400">
                {{excerpt characters='100'}}
            </p>
            <div
                class="text-primary mt-3 flex items-center text-xs font-bold tracking-wide"
            >
                {{primary_author.name}}
                <span class="ml-1 text-xs"> {{> "icons/arrow-right" }} </span>
            </div>
        </div>
    </div>
</a>
