<!-- Footer -->
<footer
    class="container mx-auto border-t w-full pt-12 mt-28 mb-5 flex flex-col lg:flex-row justify-between items-center gap-8">
        <div class="flex flex-col gap-2">
            {{#if @site.logo}}
            <img width="120" height="120" class="block dark:hidden" src="{{@site.logo}}" alt="{{@site.title}}"
                loading="lazy" decoding="async" />
            {{#if @custom.logo_dark}}
            <img width="120" height="120" class="hidden dark:block" src="{{@custom.logo_dark}}" alt="{{@site.title}}"
                loading="lazy" decoding="async" />
            {{else}}
            <img width="120" height="120" class="hidden dark:block" src="{{@site.logo}}" alt="{{@site.title}}"
                loading="lazy" decoding="async" />
            {{/if}}
            {{else}}
            <span class="text-xl tracking-tighter"> {{@site.title}} </span>
            {{/if}}

            {{#if @custom.copyright_enabled}}
            <span class="text-xs text-on-surface-variant">
                {{#if @custom.copyright_text}} {{@custom.copyright_text}}
                {{else}} Copyright &copy; {{date format="YYYY"}} {{@site.title}}. <a target="_blank" class="underline underline-offset-4" href="https://github.com/frontendweb3">Frontend Web</a>. All
                rights reserved.
                {{/if}}
            </span>
            {{/if}}
        </div>

        <div class="flex gap-8">
            <nav aria-label="Footer navigation"> {{navigation type='secondary'}} </nav>
        </div>
</footer>