<!-- top navbar  -->
<header class="sticky top-0 z-10 flex items-center h-16 justify-between px-4 py-2.5" aria-label="Top navigation bar">

    <div class="flex items-center gap-3">

        <!-- toggle sidebar button for small screens  -->
        <div class="md:hidden flex items-center gap-3">
            <button type="button" class="inline-block text-on-surface dark:text-on-surface-dark"
                x-on:click="sidebarIsOpen = true" :aria-expanded="sidebarIsOpen.toString()"
                aria-controls="sidebar-navigation">
                {{> "components/icon" name="panel-left" class="size-4" ariaLabel="panel left icon"}}
                <span class="sr-only">sidebar toggle</span>
            </button>
            <a href="{{@site.url}}" class="text-on-surface dark:text-on-surface-dark">
                {{> "components/icon" name="house" class="size-4" ariaLabel="home icon"}}
            </a>
        </div>

        {{#if @custom.enable_breadcrumb }}
        <!-- breadcrumbs  -->
        <nav class="hidden md:inline-block text-sm font-medium " aria-label="breadcrumb">
            <ol class="flex flex-wrap items-center gap-1">
                {{^is "home" }}
                <li class="flex items-center gap-1 text-on-surface dark:text-on-surface-dark">
                    <a href="{{@site.url}}" >
                        {{> "components/icon" name="house" class="size-5" ariaLabel="home icon"}}
                    </a>
                    {{> "components/icon" name="chevron-right" class="size-4" ariaLabel="chevron right icon"}}
                </li>
                {{/is}}

                {{#is "paged"}}
                <li class="flex items-center gap-1" aria-current="page">{{pagination.page}}</li>
                {{/is}}

                {{#is "post"}}
                <li class="flex items-center gap-1" aria-current="{{post.title}}">{{post.title}}</li>
                {{/is}}
                {{#is "tag"}}
                <li class="flex items-center gap-1" aria-current="{{tag.name}}">{{tag.name}}</li>
                {{/is}}
                {{#is "author"}}
                    {{{block "breadcrumb-author"}}}
                {{/is}}
                {{#is "page"}}
                <li class="flex items-center gap-1" aria-current="{{page.title}}">{{page.title}}</li>
                {{/is}}

            </ol>
        </nav>

        {{/if}}
    </div>

    <!-- social and profile menu -->
    <div class="justify-end flex items-center space-x-4">

        {{!-- Custom Search Form --}}
        <button data-ghost-search="true" aria-pressed="false" aria-label="Open Search form" type="button"
            class="inline-flex justify-center items-center aspect-square whitespace-nowrap rounded-full p-2 text-sm font-medium tracking-wide transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed">
            {{> "components/icon" name="search" ariaLabel="search icon"}}
            <span class="sr-only">Search</span>
        </button>

        {{!-- Theme Toggle Button --}}
        <button x-data="themeSwitcher" @click="toggle" :aria-pressed="darkMode.toString()"
            :aria-label="darkMode ? 'Switch to light mode' : 'Switch to dark mode'" type="button"
            class="inline-flex justify-center items-center aspect-square whitespace-nowrap rounded-full p-2 text-sm font-medium tracking-wide transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed">
            <span x-show="!darkMode" x-cloak aria-hidden="true"> {{> "components/icon" name="sun" ariaLabel="sun icon"}}</span>
            <span x-show="darkMode" x-cloak aria-hidden="true"> {{> "components/icon" name="moon" ariaLabel="moon icon"}}</span>
            <span class="sr-only">Toggle color theme</span>
        </button>
        <div class="hidden sm:flex items-center justify-between gap-4">
            {{#> "button" href="/rss" aria="Visit our RSS feed"}}
            {{> "components/icon" name="rss" ariaLabel="RSS icon"}}
            {{/ "button"}}

            {{!-- Twitter --}}
            {{#if @site.twitter}}
            {{#> "button" href=(social_url type="twitter") aria="Visit our Twitter profile"}}
            {{> "icons/twitter"}}
            {{/ "button"}}
            {{/if}}
            {{!-- Facebook --}}
            {{#if @site.facebook}}
            {{#> "button" href=(social_url type="facebook") aria="Visit our Facebook profile"}}
            {{> "icons/facebook"}}
            {{/ "button"}}
            {{/if}}
        </div>

        {{#if @member}}
        <div class="hidden sm:block h-5 rounded-3xl w-0.5 bg-primary dark:bg-primary-dark"></div>
        <a href="#/portal/account" aria-label="Open your account page"
            class="hidden sm:flex items-center gap-2 rounded-full shadow-sm transition-colors hover:text-primary dark:border-slate-700 dark:bg-slate-800">
            {{#if @member.avatar_image}}
            {{!-- remove the query parameters from the Gravatar URL:
            https://www.gravatar.com/avatar/2a2c0d6c6a993402c5a107d39402e2fe?s=250&amp;r=g&amp;d=blank --}}
            {{#foreach (split @member.avatar_image separator="?")}}
            {{#if @first}}
            <img class="h-9 w-9 rounded-full object-cover" src="{{this}}" alt="{{@member.name}} avatar"
                decoding="async" />
            {{/if}}
            {{/foreach}}
            {{else}}
            {{!-- #TODO: Fix image profile --}}
            <img class="h-9 w-9 rounded-full object-cover" src="{{asset "images/profile.png"}}"
                alt="{{@member.name}} avatar" decoding="async" />
            {{/if}}
        </a>
        {{/if}}

    </div>


</header>