{{#if isSecondary}}

<ul class="flex w-full flex-row items-center justify-center gap-2">
    {{#foreach navigation type='secondary'}}

    <li
        aria-label="Navigate to {{label}} page"

        class="items-center gap-3 rounded-lg px-2 py-3 text-center text-sm transition-colors hover:underline hover:underline-offset-4"
    >
        {{#link href=(url) }} {{label}}
        {{/link}}
    </li>

    {{/foreach}}
</ul>

{{else}} {{!-- Main sidebar navigation --}}

<div class="flex w-full flex-col list-none space-y-5">
    {{#foreach navigation}}
         {{#link aria-label="Navigate to {{label}} page" activeClass="bg-primary/20 dark:hover:bg-primary-dark/5" class="w-full flex items-center flex-row gap-2 h-10 rounded-radius  px-3 py-2.5  text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong 
        focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong" href=(url) }}
        <span
            class="bg-secondary-foreground group-hover:bg-primary-foreground h-2 w-2 rounded-full transition-colors"
        ></span>
        <span class="text-sm font-medium"> {{label}} </span>
        {{/link}}
    {{/foreach}}
</div>

{{/if}}
