<!DOCTYPE html>
<html lang="{{@site.locale}}" class="scroll-smooth">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{> "style-script"}} {{!-- partials/style-script.hbs --}}

    {{#is "paged"}}
        <title> current page: {{pagination.page}} | {{@site.title}}</title>
    {{else}}
        <title>{{meta_title}}</title>
    {{/is}}

    {{ghost_head}}

</head>

<body class="{{body_class}} bg-surface dark:bg-surface-dark  text-on-surface dark:text-on-surface-dark overflow-hidden relative p-0 m-0">

    <main x-data="{ sidebarIsOpen: false }" class="relative flex min-h-screen w-full flex-col md:flex-row">

        <!-- dark overlay for when the sidebar is open on smaller screens  -->
        <div x-cloak x-show="sidebarIsOpen" class="fixed inset-0 z-20 bg-surface-dark/10 backdrop-blur-xs md:hidden" aria-hidden="true" x-on:click="sidebarIsOpen = false" x-transition.opacity ></div>


        {{!-- This allows screen readers to skip the sidebar and go directly to the main content. --}}
        <a class="sr-only" href="#main-content">skip to the main content</a>

        {{!-- Sidebar --}}
        {{> "sidebar"}}

        <!-- top navbar & main content  -->
        <div class="flex h-svh w-full flex-col">

            {{> "header"}}

            <div id="main-content" class="flex-1 h-svh w-full p-4 overflow-y-auto overflow-x-hidden px-4 py-4 md:overflow-y-auto  scrollbar-custom  scrollbar-thumb-rounded-full">

                    {{!--  Add main content here  --}}
                    {{{body}}}
                    
                    {{!-- partials/footer.hbs --}}
                    {{> "footer"}} 
            </div>
        </div>

    </main>

    {{ghost_foot}}

</body>

</html>