<!DOCTYPE html>
<html lang="{{@site.locale}}" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preload" as="style" href="{{asset 'dist/css/index.css' hasMinFile='true'}}" />
        <link rel="stylesheet" type="text/css" href="{{asset 'dist/css/index.css' hasMinFile='true'}}" />
        <link rel="preload" as="script" href="{{asset 'dist/js/index.js'}}" />
        <script src="{{asset 'dist/js/index.js'}}" defer></script>
       
        {{#is "post"}}
            <!-- Highlight.js CSS (Dark Theme) -->
            <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"/>
        {{/is}}
    
        <title>{{meta_title}}</title>

        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (
                localStorage.getItem('color-theme') === 'dark' ||
                (!('color-theme' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
        
        <style>
        
            :root {
                --background: {{#if @custom.background_color_light}} {{@custom.background_color_light}} {{else}} oklch(1 0 0) {{/if}};
                --foreground: {{#if @custom.text_color_light}}{{@custom.text_color_light}}{{else}} oklch(0.141 0.005 285.823) {{/if}};
                --color-background: var(--background);
                --color-foreground: var(--foreground);
                --sidebar: {{#if @custom.sidebar_background_color_light}}{{@custom.sidebar_background_color_light}}{{else}} oklch(1 0 0) {{/if}};
            }
             .dark {
                --background: {{#if @custom.background_color_dark}}{{@custom.background_color_dark}}{{else}} oklch(0.141 0.005 285.823) {{/if}};
                --foreground: {{#if @custom.text_color_dark}}{{@custom.text_color_dark}}{{else}} oklch(0.985 0 0) {{/if}};
                --color-background: var(--background);
                --color-foreground: var(--foreground);
                --sidebar: {{#if @custom.sidebar_background_color_dark}}{{@custom.sidebar_background_color_dark}}{{else}} oklch(0.141 0.005 285.823) {{/if}};
            }
        </style>
        {{ghost_head}}
    </head>

    <body class="{{body_class}} bg-background text-foreground relative p-0 m-0 overscroll-none">

        <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:rounded focus:bg-white focus:px-4 focus:py-2 focus:text-black">
            Skip to main content
        </a>
        
        {{!-- wrap with main element to show Announcement --}}
        <main class="m-0 flex p-0" id="main-content" tabindex="-1">

            {{> "sidebar"}}

            <div class="lg:ml-72 w-full overscroll-y-none px-10 py-8">

                {{!-- Header --}} 
                {{> "header"}} 
                
                {{!-- Content --}} 
                {{{body}}}

            </div>

        </main>
        
        {{ghost_foot}}

    </body>
</html>
