<!DOCTYPE html>
<html lang="{{@site.locale}}" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{asset 'dist/css/index.css'}}" />
        <script src="{{asset 'dist/js/index.js'}}" defer></script>

        <title>{{meta_title}}</title>

        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (
                localStorage.getItem('color-theme') === 'dark' ||
                (!('color-theme' in localStorage) &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>

        {{ghost_head}}
    </head>

    <body
        class="{{body_class}} bg-background text-foreground relative flex overscroll-none"
    >
        {{> "sidebar"}} {{!-- # TODO: Announcement --}}
        <main class="w-full overscroll-y-auto px-10 py-8 lg:ml-72">
            {{!-- Header --}} {{> "header"}} {{!-- Content --}} {{{body}}}
        </main>

        {{!-- Theme Toggle Button --}}

        <button
            id="theme-toggle"
            type="button"
            class="fixed right-6 bottom-6 z-50 flex size-10 items-center justify-center rounded-full border border-slate-200 bg-white shadow-sm transition-colors hover:scale-110 dark:border-slate-700 dark:bg-slate-800"
        >
            {{> "icons/sun" }} {{!-- partials/icons/sun.hbs --}} {{>
            "icons/moon" }} {{!-- partials/icons/moon.hbs --}}
        </button>

        {{ghost_foot}}
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
