{{!< default}} <div class="mt-14">

    {{!-- Show feature layout only on the first page --}}
    {{#match pagination.page "==" 1}}
    {{> feature }}
    {{/match}}

    <div class="mt-16 w-full px-8 py-8">
        {{#match pagination.page "==" 1}}

        {{#if @custom.all_articles_title}}
        <h2 class="mb-2 text-center text-3xl font-bold"> {{@custom.all_articles_title}}</h2>
        {{else}}
        <h2 class="mb-2 text-center text-3xl font-bold"> All Articles </h2>
        {{/if}}
        {{#if @custom.all_articles_description}}
        <p class="mb-8 text-center text-gray-600">
            {{@custom.all_articles_description}}
        </p>
        {{else}}
        <p class="mb-8 text-center text-gray-600">
            Discover our full collection of insights, tutorials, and industry news.
        </p>
        {{/if}}
        {{#get "tags" limit="5" include="count.posts" order="count.postsdesc"}}

        {{#if tags}}

        {{!-- Show tags only on the first page --}}
        <div class="mb-20 flex justify-center space-x-4">
            {{#foreach tags}}

            <a href="{{url}}"
                class="px-6 py-2 inline-flex gap-4 items-center rounded-full bg-gray-200 text-gray-700 font-semibold hover:bg-gray-300 {{slug}}">
                {{> "icons/tag" class="size-5" }} {{!-- partials/icons/tag.hbs --}}
                {{name}}
            </a>

            {{/foreach}}

        </div>

        {{/if}}

        {{/get}}

        {{/match}}

        {{!-- Posts --}}
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            {{!-- On page 1, skip the four featured posts; on later pages, show all available posts --}}
            {{#match pagination.page "==" 1}}
            {{#foreach posts from="5" limit="10"}}
            {{> "card"}}
            {{/foreach}}
            {{else}}
            {{#foreach posts}}
            {{> "card"}}
            {{/foreach}}
            {{/match}}
        </div>
        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        <div class="mt-20 text-center">{{pagination}}</div>

    </div>
    </div>