{{!< default}} 
<div class="container mx-auto">

    <!-- Hero Section -->
{{#match @custom.enable_title_and_description "==" true}}
    <section class="container mx-auto mt-24 mb-32">
        
        <h1 class="text-[3.5rem] leading-[1.1] tracking-[-0.02em] font-black mb-6"> {{@custom.title}} </h1>
        
        <p class="text-xl text-on-surface-variant max-w-2xl leading-relaxed">
            {{@custom.description}}
        </p>

    </section>
{{/match}}

    {{#match pagination.page "==" 1}}

        {{#get "tags" limit="5" include="count.posts" order="count.posts desc"}}

            {{#if tags}}

            {{!-- Show tags only on the first page --}}
            <section class="container mx-auto mb-16 mt-12">
                <div class="flex flex-wrap gap-3">
                    <a href="{{@site.url}}" class="inline-flex justify-center items-center gap-2 whitespace-nowrap rounded-full bg-primary border border-primary dark:border-primary-dark px-4 py-2 text-sm font-medium tracking-wide  text-on-primary  hover:scale-[1.02] transition-transform text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">
                         All Posts
                    </a>

                    {{#foreach tags}}
                        <a href="{{url}}" class="px-6 py-2 outline-1 outline-variant/20 text-on-surface-variant rounded-full text-sm font-medium hover:bg-surface-container-high hover:scale-[1.02] transition-transform"> {{name}} </a>
                    {{/foreach}}

                </div>
            </section>

            {{/if}}

        {{/get}}

    {{/match}}

    {{!-- Posts --}}
    {{> "layout/posts" posts=posts layout=@custom.layout }}

    <div class="mt-20"> {{pagination}} </div>

</div>