{{!< default}} 
{{#post}} 

<article class="prose-sm prose-logly sm:prose-base lg:prose-lg dark:format-invert pt-8 pb-16 lg:pt-16 lg:pb-24 antialiased flex flex-col justify-between mx-auto">

    {{!-- Show title and excerpt only if the setting is enabled in Ghost Admin --}}
    {{#if @page.show_title_and_feature_image}}

        <header class="not-prose w-full max-w-5xl pt-12 px-8 md:px-16 mx-auto">

           <h1
            class="animate-in fade-in slide-in-from-bottom-4 text-[clamp(3.5rem,8vw,6rem)] tracking-tighter leading-tight duration-700 ">
            {{title}}
        </h1>

        <p class="animate-in fade-in slide-in-from-bottom-3 inline-block align-middle text-[clamp(1rem,3vw,2rem)] font-semibold tracking-tight duration-400">{{#if custom_excerpt}} {{custom_excerpt}} {{else}} {{excerpt}} {{/if}} </p>

        </header>

    {{/if}}

    <div aria-label="page content" class="w-full max-w-5xl pt-12 px-8 md:px-16 mx-auto">{{{content}}}</div>

</article>

{{/post}}