<article class="group rounded-radius border border-outline bg-surface-alt text-on-surface dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark flex flex-col overflow-hidden transition-all duration-300">
    <div class="aspect-video h-80 overflow-hidden">
        {{#if feature_image}}
        <img
            class="h-80 w-full object-cover transition-transform duration-500 group-hover:scale-105"
            srcset="{{img_url feature_image size='s' format='webp'}} 320w,
                    {{img_url feature_image size='m' format='webp'}} 600w,
                    {{img_url feature_image size='l' format='webp'}} 960w,
                    {{img_url feature_image size='xl' format='webp'}} 1200w"
            sizes="(min-width:1024px) 33vw, (min-width:768px) 50vw, 100vw"
            src="{{img_url feature_image size='l' format='webp'}}"
            alt="{{title}}"
            fetchpriority="high"
            decoding="async"
        />
        {{/if}}
    </div>
    <div class="flex flex-1 flex-col p-6">
        <div class="mb-3.5 flex items-center gap-2">
            {{#if primary_tag}}
                <span class="rounded-radius px-2 py-1 uppercase text-xs font-medium"> # {{primary_tag.name}} </span>
            {{/if}}

            <time class="text-xs" datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMMM YYYY'}}</time>
        </div>

        <h2 class="group-hover:text-on-surface/80 dark:text-on-surface-dark/90  mb-4 text-xl leading-tight font-bold transition-colors">
            {{title}}
        </h2>
        <p
            class="mb-4 line-clamp-2 flex-1 text-sm"
        >
            {{excerpt characters='100'}}
        </p>

        <div class="my-3 flex items-center justify-between">
            <span class="text-xs font-medium "
                >{{reading_time}}</span
            >
            <a
                href="{{url}}"
                class="flex items-center gap-1 text-sm font-semibold hover:underline hover:underline-offset-4"
            >
                Read More {{> "icons/arrow-right" }} {{!--
                partials/icons/arrow-right.hbs --}}
            </a>
        </div>
    </div>
</article>
